.recipe-card{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid darkgray;
    align-items: end;
}
.recipe-card:hover{
    border: 5px solid white;
}

.recipe-name{
    background-color: rgb(0,0,0, .6);
    color: white;
    width: 300px;
}

.recipe-modal-popup{
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 10%;

    display: flex;
    flex-direction: column;

    border: 2px solid darkgray;
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
    background-color: antiquewhite;
}

.recipe-modal-popup::-webkit-scrollbar{
    display: none;
}

.recipe-modal-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-modal-image{
    width: 300px;
    border: 2px solid darkgray;
    border-radius: 15px;

}

.recipe-modal-title{
    font-size: 40px;
}

.recipe-modal-ingredient-section{
    padding: 0 30px
}

.recipe-instructions{
    padding: 0 20px
}

/* buttons */

/* close button */
.recipe-modal-close-button{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  padding: 12px 14px;
  text-align: center;
  width: fit-content
}

.recipe-modal-close-button:hover{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

/* vid and source buttons */

.recipe-modal-buttons{
    display: flex;
    justify-content: space-evenly;
}

.recipe-modal-video-button, .recipe-modal-source-button{
  align-items: center;
  background-color: #fc894d;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  height: 54px;
  justify-content: center;
  padding: 10px;
  width: 200px
}


.recipe-modal-video-button:hover, .recipe-modal-source-button:hover {
  font-size: 18px;
}


